body, input, button, a {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.split {
    width: 50%;
    height: 100%;
    position: relative;
}

.left {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    border-right: 1px solid #e0e0e0; /* Faint line */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-logo {
    width: 80%; /* Make the logo large */
    max-width: 400px; /* Set a max-width to avoid it being too large on big screens */
    height: auto;
}

.right {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: ghostwhite; /* A light background for the right side */
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; /* Increased width */
    text-align: center;
}

.title-container {
    margin-bottom: 30px; /* Increased distance from login form */
}

.right-content h1 {
    font-size: 50px;
    width: 700px;
    color: #333;
    margin-bottom: -10px; /* Space between title and slogan */
}

.slogan {
    font-size: 16px;
    color: #666;
    font-style: italic;
}

.login-container {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#details_form {
    width: 100%;
}

.elements_in_form {
    margin-bottom: 15px;
    width: 100%;
}

.detail {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box; /* To include padding in the width */
    text-align: center;
}

.btn_detail {
    width: 100%;
    padding: 12px;
    background-color: #0641fb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.btn_detail:hover {
    background-color: #0033c7;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.login-container a {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.login-container a:hover {
    text-decoration: underline;
}
