body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

span{
  font-family: "Montserrat", sans-serif;
}

h1{
  font-family: "Montserrat", sans-serif;
}

table, td, th {
  font-family: 'Montserrat', sans-serif;
}

tr.selected {
  background-color: #cce5ff !important;
}

tr:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.modal-title{
  margin-left: 20px;
}

.modal-content{
  width: 570px;
  margin: 0 auto;
}

.modal-content-payslip{
  background-color: white;
  width: 800px;
  margin: 0 auto;
  border-radius: 2%;
}

.modal-content-add{
  background-color: white;
  width: 570;
  margin: 0 auto;
  border-radius: 2%;
}

.modal-body{
  height: 800;
}

.add-option{
  font-family: Montserrat, sans-serif;
  width: 517px;
}

.add-form{
  max-width: 600px;
}

.add-input{
  font-family: Montserrat, sans-serif;
  width: 900px;
}

.special_label{
  margin-top: -2px;
}

.edit_employee_form{
  padding: 10px;
  max-width: 600px;
  margin-top: -15px;
}

#deselect_btn {
  display: none;
  margin: 10px;
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#deselect_btn:hover{
  background-color: #0641fb;
}

.logo {
  margin-right: 20px;
  margin-top: 6px;
  width: 70px;       /* adjust as needed */
  height: 70px;      /* same as width for a circle */
  border-radius: 50%; /* makes it round */
}

#header_text{
  display: flex;
  height: auto;
  align-items: center;
  width: fit-content;

}

#the_text {
  font-size: 32px;
  letter-spacing: 1px;
  color: white;
}

#btn_actions{
  display: flex;
  margin-left: 700px;
  gap: 40px;
  width: fit-content; /* Adjust width to fit content */
}

#success-alert{
  padding: 1rem 1rem; 
  font-size: 1rem; 
  background-color: #e7e7e7; 
  margin-bottom: -10px; 
  color: green; 
  border: none; 
  border-radius: 0%;
}

#header_container {
  display: flex;
  height: 100px;
  background-color: #343a40;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
}

.action-edit-btn, .action-delete-btn {
  display: inline-block; /* Allows setting width and height */
  width: 70px; /* Fixed width */
  height: 25px; /* Fixed height */
  line-height: 25px; /* Vertically center text */
  padding: 0; /* Remove padding as height is fixed */ 
  border: 1px solid; /* Thinner border */
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none; /* Ensure links don't have underlines */
  font-weight: normal; /* Not bold */
  font-family: 'Montserrat', sans-serif;
  font-size: inherit;
}

.action-edit-btn {
  color: #0641fb;
  border-color: #0641fb;
  text-align: center; /* Center the text within the button */
  margin-right: 10px; /* Add a gap of 10px to the right */
}

.action-edit-btn:hover {
  background-color: #0641fb;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.action-delete-btn {
  color: red;
  border-color: red;
  text-align: center; /* Center the text within the button */
}

.action-delete-btn:hover {
  background-color: red;
  color: white;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.3);
}



body { 
  font-family: 'Montserrat', sans-serif; 
  background: #f8f9fa; }

table {
  font-family: 'Montserrat', sans-serif; 
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 90%;
  background-color: #fff;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Center content in the last column (Actions column) */
table.employee_table td:last-child {
  text-align: center;
}

th {
  background-color: #343a40;
  color: #fff;
}

tr:nth-child(even) { 
  background-color: #f2f2f2; }

.icon_label {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
  font-size: 10px;
  color: #000000;
  cursor: pointer;
}

#add_btn {
  margin-left: 10px;
  height: 30px;
  cursor: pointer;
  color: White;
  background-color: transparent;
  border: none;
  margin-bottom: 7px;
}

#add_btn:hover{
  color: #024eff;
}

#add_icon{
  font-size: 26.5px;
  background-color: transparent;
}

#add_icon:hover{
  color: #024eff;
}

#i_hover:hover{
  color: #024eff;
}

#edit_btn {
  margin-left: 10px;
  height: 30px;
  cursor: pointer;
  border: none;
  background: none;
}

#delete_btn {
  height: 30px;
  cursor: pointer;
  border: none;
  background: none;
}

#logout_btn{
  height: 30px;
  cursor: pointer;
  color: white;
}

.icon-btn {
  background: none;
  color: #003366;
  size: 40px;
  cursor: pointer;
}

.tab {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-content: center;
  margin-bottom: -20px;
  gap: 10px;
}

.tablinks {
  width: 200px;
  height: 35px;
  line-height: 15px;
  padding: 0;
  border: 1px solid #0641fb;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: normal;
  color: #0641fb;
}

.special-tablinks {
  width: 200px;
  height: 35px;
  line-height: 15px;
  padding: 0;
  border: 1px solid green;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: normal;
  color: green;
}

.special-tablinks:hover {
  background-color: green;
  color: white;
  box-shadow: 0 4px 10px rgba(6, 241, 108, 0.3);
}

.tablinks:hover {
  background-color: #0641fb;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.tablinks.active {
  background-color: #0641fb;
  color: white;
}

/* most of the css for edit modal */
input, option{
  font-family: Montserrat, sans-serif;
}

option{
  padding-left: 90px;
}

input[type="text"]{
    width: 517px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #495057;
    margin-bottom: 6px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #495057;
    margin-bottom: 6px;
}

label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}


#header_h{
  display: flex;
  height: fit-content;
  align-items: center;
}

#description{
  display: flex;
  justify-content: center;
  margin-left: 340px;
  text-align: center;
}

#back{
  color: black;
}

.container{
  margin-top: -30px;
}

#second_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.back{
  margin-right: 60px;
  margin-left: 480px;
}

.title{
  text-align: center;
  justify-content: center;
  text-align: center;
}

#back{
  color: black;
}

#second_container {
  text-align: center;
}

.toggle-group {
    display: flex;
    gap: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.toggle-group-lodging {
    display: flex;
    margin-top: 20px;
}

#toggle-group-one {
    display: flex;
    height: 53px;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.toggle-group-deductions{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#lodging_address{
  height: 30px;
}

#sss_input{
  height: 30px;
}

#philhealth_input{
  height: 30px;
}

#pagibig_input{
  height: 30px;
}

#tax_input{
  height: 30px;
}

#others_input{
  height: 30px;
}

#toggle-group-one-deductions{
    display: flex; 
    flex-direction: row; 
    margin-top: 5px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 30px;
}

#toggle-group-one-deductions-two{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

#toggle-group-one-deductions-three{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

#yes_section{
  display: flex;
}

#toggle-group-one-deductions-four{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

#toggle-group-one-deductions-five{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

input[type="radio"] {
  transform: scale(1.5);
  vertical-align: middle;
}

#addressField{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

#address{
  display: flex;
  align-items: center;
  height: 25px;
  margin-top: 2px;
}

#submit_div{
  display: flex;
  width: 100%;
  justify-content: center;
}

.update-btn {
    display: inline-block;
    width: 517px;
    line-height: 30px;
    padding: 0;
    border: 1px solid;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: inherit;
    color: #0641fb;
    border-color: #0641fb;
    text-align: center;
    margin-top: 10px;
}

.update-btn:hover {
  background-color: #0641fb;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.update-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#parent_div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info{
  display: flex;
  flex-direction: column;
}

#text_info{
  width: 500px;
  margin-top: 3px;
}

legend {
    text-align: center;
}

/* most of the css for the add modal */
.add-body { 
  font-family: Montserrat, sans-serif; 
  background: #f8f9fa; 
  padding: 30px; }

.add-option{
  font-family: Montserrat, sans-serif;
  width: 517px;
}

.add-input[type="text"] {
    width: 517px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #495057;
    margin-bottom: 6px;
}

.add-select {
    width: 400px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #495057;
    margin-bottom: 6px;
}

.add-form {
  padding: 10px;
  max-width: 600px;
  margin-top: -15px;
  height: 550px;
}

.add-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-label-special {
  margin-top: 10px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#add-header_h{
  display: flex;
  height: fit-content;
  align-items: center;
}

#add-description{
  display: flex;
  justify-content: center;
  margin-left: 340px;
  text-align: center;
}

#add-back{
  color: black;
}

#add-second_container {
  display: flex;
  margin-top: -30px;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.add-back{
  margin-right: 60px;
  margin-left: 480px;
}

.add-title{
  text-align: center;
  justify-content: center;
  text-align: center;
}

#add-back{
  color: black;
}

#add-second_container {
  text-align: center;
}

.add-toggle-group {
    display: flex;
    gap: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.add-toggle-group-lodging {
    display: flex;
    margin-top: 20px;
}

#add-toggle-group-one {
    display: flex;
    height: 53px;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.add-toggle-group-deductions{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#add-lodging_address{
  height: 30px;
}

#add-sss_input{
  height: 30px;
}

#add-philhealth_input{
  height: 30px;
}

#add-pagibig_input{
  height: 30px;
}

#add-tax_input{
  height: 30px;
}

#add-others_input{
  height: 30px;
}

#add-toggle-group-one-deductions{
    display: flex; 
    flex-direction: row; 
    margin-top: 5px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 30px;
}

#add-toggle-group-one-deductions-two{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

#add-toggle-group-one-deductions-three{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

#add-yes_section{
  display: flex;
}

#add-toggle-group-one-deductions-four{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

#add-toggle-group-one-deductions-five{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

.add-input[type="checkbox"] {
  transform: scale(1.5);
}

.add-input[type="radio"] {
  transform: scale(1.5);
  vertical-align: middle;
}

#add-addressField{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

#add-address{
  display: flex;
  align-items: center;
  height: 25px;
  margin-top: 2px;
}

#add-submit_div{
  display: flex;
  width: 100%;
  justify-content: center;
}

.add-update-btn {
    display: inline-block;
    width: 517px;
    line-height: 40px;
    padding: 0;
    border: 1px solid;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: inherit;
    color: #0641fb;
    border-color: #0641fb;
    text-align: center;
    margin-top: 10px;
}

.add-update-btn:hover {
  background-color: #0641fb;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.add-update-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#add-parent_div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-info{
  display: flex;
  flex-direction: column;
}

#add-text_info{
  width: 500px;
  margin-top: 3px;
}

.add-legend {
    text-align: center;
}

/*payslip modal css here */
#ppayslip-export {
  padding: 2px 4px;
  margin: 5px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 480px;
}

#ppayslip-print{
  padding: 2px 4px;
  margin: 5px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#ppayslip-export:hover, #ppayslip-print:hover{
  color: #0641fb;
}